# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# Vite build output
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.*
!.env.example   # 예시 파일은 제외하지 않음

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Temporary files
tmp/
temp/
